<ui-loader></ui-loader>
<template ngbModalContainer></template>
<ui-nav>
    <form class="navbar-form navbar-left" #form="ngForm" (ngSubmit)="onSubmit(form)">
        <div class="form-group">
            <input autocomplete="off" type="text" class="form-control" type="feedUrl" name="feedUrl" [(ngModel)]="feedUrl" required placeholder="Feed url">
        </div>
        <button type="submit" class="btn btn-default">Load</button>
    </form>
    <ui-feed-history [feedHistory]="feedHistory" (onFeedHistoryNavigate)="changeFeed($event)"></ui-feed-history>
</ui-nav>
<div class="container">
    <div class="row order-by-row">
        <ui-feed-order [fields]="orderableFields" (orderByChanged)="orderChanged($event)"></ui-feed-order>
    </div>
    <div class="row">
        <ui-feed-list [feedEntries]="feed?.feed?.entries" [orderBy]="orderByExpression"></ui-feed-list>
    </div>
</div>
