$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "./styles/loader";
@import "~animate.css/animate.min.css";

//custom styles

body {
    padding-top: 70px;
}

a {
    &:hover, &active, &focus {
        outline: none;
    }
}

.btn {
    &:hover, &active, &focus {
        outline: none;
    }
    &.active:hover, &.active:active, &.active:focus {
        outline: none;
    }
}

.modal-custom-animations {
    -moz-animation-duration: 0.5s;
    -webkit-animation-duration: 0.5s;
    -ms-animation-duration: 0.5s;
    animation-duration: 0.5s;
}

.label-margin:not(:first-child) {
    margin-left: 5px;
}

.order-by-row {
    margin-bottom: 10px;
}
