<div class="btn-group" role="group">
    <div class="btn-group" role="group" ngbDropdown>
        <button type="button" class="btn btn-default dropdown-toggle" ngbDropdownToggle>
        {{currentFilter?.field?.name}}
        <span class="caret"></span>
          </button>
        <ul class="dropdown-menu">
            <li><a href="javascript:void(0)" *ngFor="let field of fields" (click)="setField(field)">{{field.name}}</a></li>
        </ul>
    </div>

    <div class="btn-group" role="group" ngbDropdown>
        <button type="button" class="btn btn-default dropdown-toggle" ngbDropdownToggle>
      {{currentFilter?.direction?.name}}
      <span class="caret"></span>
      </button>
        <ul class="dropdown-menu">
            <li><a href="javascript:void(0)" *ngFor="let filter of directionFilters" (click)="setDirection(filter)">{{filter.name}}</a></li>
        </ul>
    </div>
</div>
