<div class="panel panel-default" *ngFor="let feedEntry of feedEntries | orderBy: orderBy">
    <div class="panel-heading">
        <h3 class="panel-title">
            <a href="javascript:void(0)" (click)="navigate(feedEntry)" target="_blank">
                <img src="http://www.google.com/s2/favicons?domain_url={{feedEntry.link}}">
                {{feedEntry.title}}
                <span class="pull-right">{{feedEntry.publishedDate | amTimeAgo}}</span>
            </a>
        </h3>
    </div>
    <div class="panel-body">
        {{feedEntry.contentSnippet}}
    </div>
    <div class="panel-footer">
        <span *ngFor="let category of feedEntry.categories" class="label label-default label-margin">{{category}}</span>
    </div>
</div>
