<ul class="nav navbar-nav">
    <li class="dropdown" ngbDropdown>
        <a href="javascript:void(0)"
           class="dropdown-toggle"
           data-toggle="dropdown"
           role="button"
           ngbDropdownToggle>
               Feed history
               <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li *ngFor="let feedHistoryItem of feedHistory">
                <a href="javascript:void(0)"
                   (click)="navigateToHistoryItem(feedHistoryItem)">
                   {{feedHistoryItem}}
               </a>
            </li>
        </ul>
    </li>
</ul>
