<div class="modal-header">
    <h4 class="modal-title">{{title}}</h4>
</div>
<div class="modal-body">
    <p>Do you realy want to navigate to the designated feed?</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="activeModal.close()">Navigate</button>
    <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">Close</button>
</div>
